/* Universal styles */

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  font-size: 4rem;
  font-family: 'Francois One', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-color: darkgray;
}

.text-shadow {
  text-shadow: 2px 2px gold;
}

.gold-image-outline {
  outline: 5px solid gold;
  outline-offset: 2rem;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: tan;
  font-size: 1.2rem;
  color: white;
  font-family: 'Francois One', sans-serif;
}

header ul {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

header li {
  margin: 0.7rem;
}

header a {
  border: 1px solid white;
  padding: 0.5rem;
}

header a:hover {
  color: white;
  background-color: blue;
}

.branding {
  margin-left: 1rem;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  header {
    height: 2rem;
    flex-direction: column;
    font-size: 1rem;
  }

  header ul {
    margin: 0;
    display: none;
  }

  .branding {
    font-size: 1.4rem;
    margin-top: 0.3rem;
    margin-left: 0;
  }
}

/* Banner */

.banner {
  height: 38rem;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.banner.text h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  background-color: tan;
  padding: 0.8rem 4rem 0.8rem 4rem;
}

.banner.text h2 {
  font-size: 2.5rem;
  background-color: tan;
  padding: 0.8rem 4rem 0.8rem 4rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 800px) {
  .banner.text h1 {
    font-size: 2.5rem;
  }

  .banner.text h2 {
    font-size: 1.3rem;
    text-align: center;
  }
}

/* About */

.about {
  background-color: lightblue;
}

.about h1 {
  text-align: center;
  padding: 2rem 0 4rem 0;
  color: tan;

}

.about img {
  height: 28rem;
  padding-bottom: 1rem;
}

.sections {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section {
  width: 40%
}

.section span {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1031px) {
  .about img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sections {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section.words {
    width: 80%;
    text-align: center;
    background-color: transparent;
    margin-top: 1.5rem;
  }

  .section span {
    font-size: 1.1rem;
  }
}

/* Values */

.values h1 {
  text-align: center;
  color: tan;
  margin: 4rem 0 4rem 0;
  width: 100%;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.box img {
  width: 100%;
  height: 15rem;
}

.box img:hover {
  opacity: 0.7;
}

.box span {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .values {
    width: 100%;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .box {
    width: 60%;
    margin-bottom: 1.5rem;
    margin: 0 auto;

  }

  .box img {
    width: 80%;
    height: auto;
  }
}

/* Tribe */

.tribe {
  margin-top: 2rem;
  height: 28rem;
  background-image: url('../images/join_tribe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tribe.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.tribe.text h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  background-color: tan;
  padding: 0.8rem 4rem 0.8rem 4rem;
}

.tribe.text h2 {
  font-size: 2.5rem;
  background-color: black;
  color: tan;
  margin-bottom: 4rem;
  text-align: center;
  padding: 0.8rem 4rem 0.8rem 4rem;
  border: 1px solid black;
}

.tribe.text a {
  padding: 0.8rem 4rem 0.8rem 4rem;
}

.tribe.text h2:hover {
  color: black;
  background-color: gray;
  border: 1px solid black;
  padding: 0.8rem 4rem 0.8rem 4rem;
}

@media only screen and (max-width: 600px) {
  .tribe {
    height: 18rem;
  }

  .tribe.text {
    justify-content: center;
  }

  .tribe.text h1 {
    font-size: 1.7rem;
  }

  .tribe.text h2 {
    font-size: 1.5rem;
  }
}

/* Footer */

footer {
  background-color: tan;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: 'Francois one', sans-serif;
  border: 1px solid white;
  padding: 0.8rem;
}

footer li:hover {
  background-color: gray;
}

footer span {
  color: white;
  margin: 1rem;
}

/* Copyright section */

.copyright {
  font-size: 0.9rem;
  margin: 1.5rem 0 1rem 0;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
  text-align: center;
  font-family:
  }

.copyright a {
  color: white;
  border-bottom: 3px solid lightpink;
  padding-bottom: 0.15rem;
}

.copyright a:hover {
  color: white;
  background-color: black;
}
